body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

ul {
  list-style-type: none;
  padding: 5px;
}

li {
  padding: 5px;
}

.container {
  text-align: center;
  background-color: tan;
  color: black;
  padding: 10px;
}
