<%- include('../partials/header') %>
  <h1><em>Questions</em></h1>
  <ul class="questions-list">
    <% for (let question of questions) { %>
      <li>
        <a href="/questions/<%= question.id %>">
        <%= question.title %></li>
        </a>
     </li>
    <% } %>
  </ul>
<%- include('../partials/footer') %>
